.dice {
height:5em;
width: 5em;
margin: 0.5em;
float: left;
border: 2px solid chartreuse;
text-align: center;
vertical-align: middle;
line-height: 5em;
border-radius:0.6em;
background-color: lightgray;
font-weight: bold;
}